/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.genero {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

.pelicula {
  text-align: center;
}

.pelicula img {
  width: 100%;
  height: auto;
}

.pelicula-title {
  margin-top: 5px;
  font-size: 14px;
}